<template>
  <q-page class="flex flex-center">
    <img src="https://m.gamestop.com/gs/pages/storefront/mGS/collection/rick-and-morty-collectibles/images/1200x300_Rick_And_Morty.png" id='iimagen'>
    <form @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
      />
      <q-input v-model="query" />
      <q-btn label='Buscar' color='secondary' class='boton' @click='pedirPersonajes ()'/>
      <div v-if='items.length > 0'>
        <q-card color='positive' v-for='(item,index) in items' :key='index' id='hola'>
          <q-card-title>
            <h1>{{ item.name }}</h1>
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main >
            <img class='character__image' :src="item.image">
            <p>Created: {{ item.created }}</p>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
.boton{
  margin-top: 10px;
  margin-left: 48%;
}
#hola{
  float: left;
  margin: 150px;
  margin-right: 14px;
  margin-top: 10px;

}
#iimagen{
  width: 90%;
}
body{
  background-image: url('https://img5.goodfon.com/wallpaper/nbig/f/b2/rik-i-morti-rick-and-morty-rick-sanchez-rick-sanchez-morty-5.jpg');
  background-attachment: fixed;
}
img{
  margin: 50px;
}
h1{
  font-size: 30px;
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'character',
      entitySelectOptions: [
        {
          label: 'Personajes',
          value: 'character'
        },
        {
          label: 'Episodios',
          value: 'episode'
        },
        {
          label: 'Localización',
          value: 'location'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://rickandmortyapi.com/api/' + entity + '/?name=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
